body {
  background: #fd9d99;
  h1{
    color: black;
    text-decoration: overline underline 3px;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 1px 1px 1px ;
    font-size: 45px;
  }
  #yuh {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 5px;
  width: 80px;
  translate: 300px -105px;
}
   #yuh2 {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 5px;
  width: 80px;
  translate: -300px -105px;
}
  
}



nav {
  list-style-type: none;
  width: 100%;
  background-color: #477;
  position: fixed;
  top: 0;
  left: 0;
  font-size: 30px;
}

li a {
  color: darkred;
  text-decoration: none;
  display: block;
  padding: 20px 238px;
  float: left;
}

li a:hover {
  Background-color: wheat;
  color: black;
  
}
